body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

.about-me {
  margin-top: 50px;
  text-align: center;
}

.about-me a {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  background-color: #333;
  box-shadow: 0px 0px 5px #333;
  transition: all 0.3s ease-in-out;
}

.about-me a:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px #333;
}

.about-me img {
  width: 150px;
  height: 150px;
}

.about-me h2 {
  font-size: 24px;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.projects {
  margin-top: 50px;
  text-align: center;
}

.projects h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.project-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  display: block;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.project-link:hover {
  transform: scale(1.1);
}
